page-register{
    .register_title{
        text-align:center;
        color:#777;
        font-size:2.1rem;
        font-weight:500;
        padding-right:56px;
    }
    .register_buttom{
        margin-top:1rem;
    }
    .pw_disaffinity{
        margin-top:1rem;
        text-align: center;
        color:#f53d3d;
    }
}