score {
  width:100%;
.div_show {
  background-color:#ededed;
  width:100%;
  font-size:2em;
  font-weight: bold;
}
  .img_type{
    float:left;
    //width:calc(50% - 1rem);
    width:35%;
    padding-left:.5rem;
    padding-right:.5rem;
    display: flex;
    align-items: center;
  }
  .score_content{
    float:left;
    width:65%;
  }
.score_title{
  text-align: center;
  font-size:2.1rem;
  font-weight:500;
  color:#777;
  padding-right:56px
}


}
